*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary_text_color);
}
:root{
   --primary_text_color: rgb(0, 0, 0);
   --secondary_text_color: rgb(176, 176, 176);

    --background_color: white;
    --container_background: white;
    --border: rgb(221, 221, 221);

    --light_red: rgb(255, 93, 93);
    --hover: rgb(240, 240, 240);
}

body.dark-theme{
    --primary_text_color: rgb(224, 224, 224);
   --secondary_text_color: rgb(176, 176, 176);

    --background_color: black;
    --container_background: rgb(30, 30, 30);
    --border: rgb(51, 51, 51);

    --light_red: rgb(255, 123, 123);
    --hover: rgb(42, 42, 42);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background_color);
}

.container{
    width: 90%;
    max-width: 900px;
    background: var(--container_background);
    padding: 20px;   
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.graph_container{
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

.input-part{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.upper_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 900px;
    margin: 20px 0;
}

nav{
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--color_black);
    font-weight: 500;
    transition: 0.3s;
}


nav a:hover{
    color: var(--color_hover_red);
}

nav button{
    padding: 6px 12px;
    border-radius: 6px;
    color: var(--light_red);
    border: 1px solid var(--border);
    background-color: var(--hover);
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

nav button:hover{
    background-color: var(--hover-background-color);
    color: var(--color_hover_red);
}




@keyframes shaky_shaky_dance {
    0%{transform: translate(0);}
    20%{transform: translate(-10px);}
    50%{transform: translate(0);}
    80%{transform: translate(10px);}
    100%{transform: translate(0);}
}

.shaky_shaky_dance{
    animation: shake 0.75s;
    border: 2px solid var(--color_red);
    color: var(--color_red);
}



.input-part input,
.input-part select,
.input-part button{
    width: 87%;
    padding: 11px;
    font-size: 16px;
    border: 1px solid var(--border);
    background-color: var(--container_background);
    border-radius: 9px;
    outline: none;    
    margin: auto 0px;
}

.input-part button{
    background-color: var(--background_color);
    color: var(--light_red);
    cursor: pointer;
    font-weight: bold;
    border: 1px solid var(--border);
    transition: 0.3s;
}

.input-part button:hover{
    width: 89%;
    color: var(--color_hover_red);
    background-color: var(--color_hover_red);
    transform: scale(1.05);
}

canvas{
    width: 100% !important;
    height: 100% !important;
}

canvas#Maza_Chart{
    background-color: var(--background-color);
}

.file_upload_zaga{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.file_upload_zaga label{
    font-size: 25px;
    text-decoration: underline;
}

.file_upload_zaga input{
    font-size: 16px;
    background-color: var(--background_color);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.file_upload_zaga button{
    border: 1px solid rgb(159, 159, 159);
    border-radius: 8px;
    background-color: var(--background_color);
    cursor: pointer;
    font-weight: 500;
    color: var(--color_red);
    padding: 7px;
    margin: 0px 23px;
    font-size: 17px;
    transition: 0.5s;
}

.file_upload_zaga button:hover{
    font-size: 18px;
    background-color: var(--hover-background-color);
    color: var(--color_hover_red);
    transform: scale(1.05);
}

.take_it_by_pdf{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

.take_it_by_pdf label{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 18px;
}

.take_it_by_pdf button{
    background-color: var(--background_color);
    border: 1px solid rgb(137, 137, 137);
    color: var(--color_hover_red);
    border-radius: 8px;
    padding: 6px;
    font-size: larger;
    margin: 0px 20px;
    transition: 0.3s;
}

.take_it_by_pdf button:hover{
    cursor: pointer;
    background-color: var(--color_hover_red);
    color: var(--color_hover_red);
    transform: scale(1.1);
}

hr{
    background-color: var(--border);
    width: 50%;
    border: 1px solid var(--border);
    border-radius: 2px;
}

.space_for_something_else{
    height: 400px;
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.templates{
    height: 500px;
    text-align: center;
    margin-top: 50px;
}

.text_element{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
}




.box1,.box2,.box3{
    display: flex;
    flex-direction: column;
    padding: 15px 5px 10px 5px;
    font-size: 18px;
    height: 300px;
    border: 1px solid var(--border);
    border-radius: 12px;
    width: 250px;
    transition: 0.3s;
    gap: 80px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.discription{
    display: none;
}

.box1:hover{
    font-size: 20px;
    height: 320px;
    width: 270px;
    font-weight: bolder;

}
.box2:hover{
    font-size: 20px;
    height: 320px;
    width: 270px;
    font-weight: bolder;
}
.box3:hover{
    font-size: 20px;
    height: 320px;
    width: 270px;
    font-weight: bolder;
}

.box1:hover .discription, .box2:hover .discription, .box3:hover .discription{
    font-weight: 500;
    font-size: 18px;
    display: block;
}

.box1{
    color: var(--background_color);
    background: linear-gradient(to bottom right, violet, indigo, blue, green, yellow, orange, red);
}

.box2{
    color: var(--background_color);
    background: linear-gradient(to bottom right,#003f5c, #2f4b7c, #665191, #a05195, #d45087 );
}

.box3{
    color: var(--background_color);
    background: linear-gradient(to bottom right, #ff9a8b, #ff6a88, #ff99ac, #fcb69f);
}



/* */
/*  */

