*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.container{
    width: 90%;
    max-width: 900px;
    background: white;
    padding: 20px;   
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.graph_container{
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

.input-part{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-part input,
.input-part select,
.input-part button{
    width: 87%;
    padding: 11px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 9px;
    outline: none;    
}

.input-part button{
    background-color: white;
    color: rgb(182, 81, 81);
    cursor: pointer;
    font-weight: bold;
    border: 1px solid grey;
}

.input-part button:hover{
    background-color: grey;
}

canvas{
    width: 100% !important;
    height: 100% !important;
}




